In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# Load SQL extension for using magic commands
%load_ext sql

In [8]:
# Connect to the database
db_path = r'TMDB_movie_dataset_v11.db'

conn = sqlite3.connect(db_path)

#Query the database to get all data from table 'kaggle_movie'
query = "SELECT * FROM movie"

movie_df = pd.read_sql(query, conn)

conn.close()

In [9]:
movie_df

,id,overview,release_date,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5,Genre_6,Genre_7,...,Company_20,Company_21,Company_22,Company_23,Company_24,Company_25,vote_count,revenue,runtime,title
0,27205,"Cobb, a skilled thief who commits corporate es...",2010-01-01 00:00:00,Action,Science Fiction,Adventure,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,34495,825532764,148,Inception
1,157336,The adventures of a group of explorers who mak...,2014-01-01 00:00:00,Adventure,Drama,Science Fiction,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,32571,701729206,169,Interstellar
2,155,Batman raises the stakes in his war on crime. ...,2008-01-01 00:00:00,Drama,Action,Crime,Thriller,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,30619,1004558444,152,The Dark Knight
3,19995,"In the 22nd century, a paraplegic Marine is di...",2009-01-01 00:00:00,Action,Adventure,Fantasy,Science Fiction,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,29815,2923706026,162,Avatar
4,24428,When an unexpected enemy emerges and threatens...,2012-01-01 00:00:00,Science Fiction,Action,Adventure,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,29166,1518815515,143,The Avengers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15089,1293139,A man with blistering blue eyes possesses an o...,2024-01-01 00:00:00,Action,Adventure,Mystery,Music,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,1,18,98,White Stare
15090,12274,Balakrishnan and Ashok are two childhood frien...,2008-01-01 00:00:00,Drama,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,1,1000000,160,Kuselan
15091,348540,"Based on the True Story, The Watseka Wonder, A...",2009-01-01 00:00:00,Thriller,Documentary,Horror,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,1,1500000,89,The Possessed
15092,353636,A young woman and her friend travel to a dista...,1993-01-01 00:00:00,Horror,Action,Comedy,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,1,94680,92,Kung Fu Vampire
15093,348797,Stephanie and Kelly are best friends and roomm...,2010-01-01 00:00:00,Thriller,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,1,10454,74,Evil Intent

In [13]:
conn = sqlite3.connect(db_path)

#Query the database to get all data from table 'kaggle_movie'
query = "SELECT * FROM movie Where vote_count >= 25000"

movie_count = pd.read_sql(query, conn)

conn.close()

In [14]:
movie_count

,id,overview,release_date,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5,Genre_6,Genre_7,...,Company_20,Company_21,Company_22,Company_23,Company_24,Company_25,vote_count,revenue,runtime,title
0,27205,"Cobb, a skilled thief who commits corporate es...",2010-01-01 00:00:00,Action,Science Fiction,Adventure,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,34495,825532764,148,Inception
1,157336,The adventures of a group of explorers who mak...,2014-01-01 00:00:00,Adventure,Drama,Science Fiction,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,32571,701729206,169,Interstellar
2,155,Batman raises the stakes in his war on crime. ...,2008-01-01 00:00:00,Drama,Action,Crime,Thriller,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,30619,1004558444,152,The Dark Knight
3,19995,"In the 22nd century, a paraplegic Marine is di...",2009-01-01 00:00:00,Action,Adventure,Fantasy,Science Fiction,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,29815,2923706026,162,Avatar
4,24428,When an unexpected enemy emerges and threatens...,2012-01-01 00:00:00,Science Fiction,Action,Adventure,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,29166,1518815515,143,The Avengers
5,293660,The origin story of former Special Forces oper...,2016-01-01 00:00:00,Action,Adventure,Comedy,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,28894,783100000,108,Deadpool
6,299536,As the Avengers and their allies have continue...,2018-01-01 00:00:00,Adventure,Action,Science Fiction,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,27713,2052415039,149,Avengers: Infinity War
7,550,A ticking-time-bomb insomniac and a slippery s...,1999-01-01 00:00:00,Drama,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,27238,100853753,139,Fight Club
8,118340,"Light years from Earth, 26 years after being a...",2014-01-01 00:00:00,Action,Science Fiction,Adventure,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,26638,772776600,121,Guardians of the Galaxy
9,680,"A burger-loving hit man, his philosophical par...",1994-01-01 00:00:00,Thriller,Crime,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,25893,213900000,154,Pulp Fiction
10,13,A man with a low IQ has accomplished great thi...,1994-01-01 00:00:00,Comedy,Drama,Romance,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,25409,677387716,142,Forrest Gump
11,671,Harry Potter has lived under the stairs at his...,2001-01-01 00:00:00,Adventure,Fantasy,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,25379,976475550,152,Harry Potter and the Philosopher's Stone

In [16]:
conn = sqlite3.connect(db_path)

#Query the database to get all data from table 'kaggle_movie'
query = "SELECT DISTINCT title FROM movie"

unique_movie = pd.read_sql(query, conn)

conn.close()

In [17]:
unique_movie

                 title
0            Inception
1         Interstellar
2      The Dark Knight
3               Avatar
4         The Avengers
...                ...
14571      White Stare
14572          Kuselan
14573    The Possessed
14574  Kung Fu Vampire
14575      Evil Intent

[14576 rows x 1 columns]